# Development
PORT=5000
MONGODB_URI=mongodb+srv://kanchanyadav:kanchan050111@completeproject.kr2wbx8.mongodb.net/?appName=CompleteProject
JWT_SECRET=08f60986335bfafa08d6d59bbd74019b2c44c64bcd1d0545a2a0522c9e5e1972
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Production (Render)
# PORT=10000
# MONGODB_URI=your_mongodb_atlas_connection_string
# JWT_SECRET=your_cryptographically_secure_secret
# NODE_ENV=production
# CLIENT_URL=https://your-frontend-domain.vercel.app
